/*! Single */
.single #main{
  max-width: 100%;
}
.post-title{
  text-align:center;
  margin-bottom:30px;
}
.post-wrap{
  position:relative;
}
.primary-img{ 
  text-align:center;
  img{
    margin: 10px auto 25px auto;
    display:block;
    box-shadow: $n0-shadow $n0-light-grey;
    max-width:65%;
    height:auto;
  }
}
#n0_cat_list{
  padding-left:15px;
  .cat-item{
    padding:5px 0px 5px 0px;
  }
}
body.page-template-page-categorylinks{
  h3{
    padding: 40px 0px 10px 0px;
    font-size: 150%;
  }
  #n0_cat_list{
    text-align:center;
  }
}
.post-nav-wrap{
  position:absolute;
  top:50%;
  transform: translate(0, -50%);
  max-width: 15%;
}
.next-post-wrap{
  left:0%;
  padding-left:$single-nav-padding;
  #n0_cat_list{
    text-align:left;
  }
}
.prev-post-wrap{
  right:0%;
  padding-right:$single-nav-padding;
  #n0_cat_list{
    text-align:right;
  }
}
.nav-post-link{
  position:relative;
  width:100px;
  max-width:100%;
  height:100px;
  opacity: .8;
  font-size:0px;
  box-shadow: $n0-shadow $n0-light-grey;
  &:hover{
    opacity: 1;
    box-shadow: $n0-shadow $n0-blue;
  }
  a{
    display:block;
    width:100%;
    height:100%;
  }
}
.mobile-post-link{
  display:none;
  width:60px;
  height:60px;
  opacity: .8;
  font-size:0px;
  box-shadow: $n0-shadow $n0-light-grey;
  &:hover{
    opacity:1;
    box-shadow:$n0-shadow $n0-blue;
  }
  a{
    display:block;
    width:100%;
    height:100%;
  }
}
.next-cat-page{
  background:url(../wp-theme-portfolio/images/dark-nav-arrow-left.png) 0 0 / 60px 60px;
}
.prev-cat-page{
  background:url(../wp-theme-portfolio/images/dark-nav-arrow-right.png) 0 0 / 60px 60px;
}
.post-content{
  text-align:center;
}
