/*! Single */
.post-title{
  text-align:center;
  margin-bottom:30px;
}
.primary-img img{
  margin: 10px auto 25px auto;
  display:block;
  box-shadow: $n0-shadow $n0-light-grey;
}
.post-content{
  text-align:center;
}
