//colors
$n0-light: #F7F8F9;
$n0-blue: #78AED6;
$n0-dark-blue: #2980b9;
$n0-yellow: #FF9000;
$n0-light-grey: #A3A3A3;
$n0-dark-grey: #262626;
$n0-footer-text: #1F4F89;

//dimensions
$max-content-width: 1200px;
$min-content-width: 320px;
$header-height: 50px;
$nav-height: 30px;
$footer-height: 50px;
$n0-shadow: 0px 0px 4px 1px;
$n0-shadow-inset: 0px 0px 4px 2px inset;
$form-width: 450px;
$n0-border-radius: 3px;
$ext-link-height: 300px;
$single-nav-padding: 16px;