/*! WP Default Classes */
.wp-caption{
  font-size: 100%;
}
.wp-caption-text{
  font-size: 100%;
}
.sticky{
  font-size: 100%;
}
.gallery-caption{
  font-size: 100%;
}
.bypostauthor{
  font-size: 100%;
}
.alignright{
  align:right;
}
.alignleft{
  align:left;
}
.aligncenter{
  align:center;
}
